<%-include("partials/header")%>
<!-- navbar -->
  <nav class="navbar navbar-expand-md navbar-dark mb-4" style="background-color: #a38b1e;">
  <h1 class="navbar-brand">Crab-Crab</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/logout">LogOut<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home2">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart/loadcart">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/load/loadOrders">Orders</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
      </li> -->
      <!-- <li class="nav-item">
         <a class="nav-link" href="#" >Disabled</a>
      </li> -->
    </ul>
    <form class="form-inline mt-2 mt-md-0 ">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
    </form>


  </div>
</nav>

<div class="container">
 <h1 style="color:#ada065;"><small >Your Orders</small></h1>
<%allProducts.forEach(function(prod){%>

        <!-- Project One -->

        <div class="row">
          <div class="col-md-7">
            <a href="#">
              <img class="img-fluid rounded mb-3 mb-md-0 product-img" src="/images//<%=prod.stuff%>/<%=prod.brand%>/<%=prod.pname%>.jpg" alt="<%=prod.pname %>" >

            </a>
          </div>
          <div class="col-md-5">
            <h2><%=prod.pname%></h2>
            <h6>Order Details:</h6>
            <p>Quantity:<%=prod.quantity%></p>
            <p>First Name:<%=prod.firstName%></p>
            <p>Last Name:<%=prod.lastName%></p>
            <p>Mobile no:<%=prod.mobileNo%></p>
            <p>Address:<%=prod.address%></p>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p> -->

            <form action="/order/cancelorder" method="POST">
              <button class="btn btn-dark" type="submit" value="<%=prod._id%>" name="cancelbtn"> Cancel Order </button>
            </form>

          </div>
        </div>
        <!-- /.row -->
        <hr>

<%});%>
  </div>






<!-- footer -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <!-- <div class="footer" style="position: ;bottom:0;">
    <p>Made with ❤️ by JB Rayansh</p>
  </div> -->


  </body>
</html>
